html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
}

img {
    max-width: 150px;
}

article {
    width: 40%;
}

h1 {
    color: white;
    background: teal;
    font-size: 18pt;
}

h2 {
    font-size: 14pt;
}

h3 {
    font-size: 14pt;
}

h4 {
    font-size: 12pt;
}

h5 {
    color: white;
    background: darkblue;
    font-size: 12pt;
}

h6 {
    color: yellow;
    background: green;
    font-size: 10pt;
}

body {
    font-size: 10pt;
}

.localheader {
    color: #dddddd;
    font-size: 15px;
    text-decoration: none;
}

.locallink {
    color: #dddddd;
    font-size: 13px;
    text-decoration: none;
}

.localsublink {
    color: #dddddd;
    font-size: 11px;
    text-decoration: none;
}

.tm {
    font-size: 8pt;
}

a:link .nonu {
    color: #000000;
    text-decoration: none;
}

.nonuw {
    color: #ffffff;
    text-decoration: none;
}

a:visited .nonu {
    text-decoration: none;
}

.linespace {
    line-height: 120%;
}

.just {
    text-align: justify;
}

code {
    color: #666666;
    font-size: 12pt;
}

kbd {
    color: #666666;
    font-size: 12pt;
}
